[features]
seeds = false
skip-lint = false

[programs.localnet]
redz_exchange = "9HiX1zn36tRsmqJp2F1sGFNVFimoVcbe9JMGSUo9LsiV"

[programs.devnet]
redz_exchange = "9HiX1zn36tRsmqJp2F1sGFNVFimoVcbe9JMGSUo9LsiV"

[programs.mainnet-beta]
redz_exchange = "9HiX1zn36tRsmqJp2F1sGFNVFimoVcbe9JMGSUo9LsiV"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"